@model MetricsViewModel

@using JoF.Rail.Standard.Extensions

@{ 
    if (Model.Detail != null)
    {
        var detail = Model.Detail.Detail;
        var reasons = Model.Reasons;

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-off-white text-secondary">
        <div class="modal-header">
            <h5 class="modal-title" id="serviceInfoTitle">Service Details for @detail.Rid</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>Date: @detail.DateOfService</div>
            <div>Toc: @detail.Toc</div>
            <div>Rid: @detail.Rid</div>
            @foreach (var l in detail.Locations)
            {
                var delayArr = @l.TimeArrivalPublic.ToTimeDelay(l.TimeArrivalActual, false);
                var delayDep = @l.TimeDeparturePublic.ToTimeDelay(l.TimeDepartureActual, false);

                <div class="row align-items-center border-top">
                    <div class="offset-1 col-3">
                        @l.Location
                    </div>
                    <div class="col-2">
                        <span class="d-block">@l.TimeArrivalPublic</span>
                        <span class="d-block">@l.TimeDeparturePublic</span>
                    </div>
                    <div class="col-2">
                        <span class="d-block">
                            @l.TimeArrivalActual
                        </span>
                        <span class="d-block">
                            @l.TimeDepartureActual
                        </span>
                    </div>
                    <div class="col-1">
                        <span class="d-block">
                            <small class="text-danger">
                                @if (delayArr != "-")
                                {@delayArr}
                            </small>
                        </span>
                        <span class="d-block">
                            <small class="text-danger">
                                @if (delayDep != "-")
                                {@delayDep}
                            </small>
                        </span>
                    </div>
                    <div class="col-2 delay-code"
                         data-ta="@l.TimeArrivalActual"
                         data-code="@l.LateCode">
                        <span tabindex="0" role="button"
                            data-toggle="popover"
                            title="Delay code @l.LateCode"
                            data-content="@reasons.FirstOrDefault(r => r.code == int.Parse(l.LateCode)).reason"
                            data-trigger="focus">
                            @if (l.LateCode != "")
                            {
                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                @l.LateCode
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

    }
}