@model JoF.Rail.Standard.Models.HistoricalPerformance.DetailModel

@using JoF.Rail.Standard.Extensions

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-off-white text-secondary">
        <div class="modal-header">
            <h5 class="modal-title" id="serviceInfoTitle">Service Details for @Model.Detail.Rid</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>Date: @Model.Detail.DateOfService</div>
            <div>Toc: @Model.Detail.Toc</div>
            <div>Rid: @Model.Detail.Rid</div>
            @foreach (var l in Model.Detail.Locations)
            {
            <div class="row align-items-center border-top">
                <div class="offset-1 col-3">
                    @l.Location
                </div>
                <div class="col-2">
                    <span class="d-block">@l.TimeArrivalPublic</span>
                    <span class="d-block">@l.TimeDeparturePublic</span>
                </div>
                <div class="col-2">
                    <span class="d-block">@l.TimeArrivalActual</span>
                    <span class="d-block">@l.TimeDepartureActual</span>
                </div>
                <div class="col-1">
                    <span class="d-block">@l.TimeArrivalPublic.ToTimeDelay(l.TimeArrivalActual, false)</span>
                    <span class="d-block">@l.TimeDeparturePublic.ToTimeDelay(l.TimeDepartureActual, false)</span>
                </div>
                <div class="col-3">
                    @l.LateCode
                </div>
            </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
