@model JoF.Rail.Core.Models.LiveDepartureBoard.Result.ServiceItemModel

@{
    var service = Model;
    var here = (string)ViewData["here"];
    var there = (string)ViewData["there"];
    var previousTrainLength = 0;
    var bDisplayedTrain = false;

    //var cols = (int)(12 / Math.Max(service.PreviousCallingPoints.Count(), service.SubsequentCallingPoints.Count()));

    <div class="container">
        @foreach (var c in service.PreviousCallingPoints)
        {
            bDisplayedTrain = false;

            @foreach (var p in c.CallingPoints)
            {
                if (previousTrainLength != 0 && previousTrainLength != p.TrainLength)
                {
                    <hr />
                }

                previousTrainLength = p.TrainLength;

                @if (p.Location.Equals(there))
                {
                    <div class="row align-items-center">
                        <div class="col-4 offset-sm-1 font-weight-bold">@p.Location</div>
                        <div class="col-2 font-weight-bold">@p.ScheduledTime</div>
                        @if (p.ActualTime != null)
                        {
                            <div class="col-2 font-weight-bold">@p.ActualTime</div>
                        }
                        else
                        {
                            <div class="col-2 font-weight-bold font-italic">@p.EstimatedTime</div>
                        }
                        <div class="col-1 font-weight-bold">@(p.ActualTimeDelay ?? p.EstimatedTimeDelay)</div>
                        <div class="col-1 font-weight-bold">@p.TrainLength</div>
                    </div>
                }
                else
                {
                    <div class="row align-items-center">
                        <div class="col-sm-1 d-none d-sm-inline text-right" style="top:-11px;">
                            @if (p.ActualTime == null && !bDisplayedTrain)
                            {
                                bDisplayedTrain = true;
                                <i class="fas fa-train"></i>
                            }
                        </div>
                        <div class="col-4">@p.Location</div>
                        <div class="col-2">@p.ScheduledTime</div>
                        <div class="col-2">
                            @if (p.ActualTime != null)
                            {
                                <div>@p.ActualTime</div>
                            }
                            else
                            {
                                <div class="font-italic">@p.EstimatedTime</div>
                            }
                        </div>
                        <div class="col-1">@(p.ActualTimeDelay ?? p.EstimatedTimeDelay)</div>
                        <div class="col-1">@p.TrainLength</div>
                    </div>
                }

                @if (p.AdHocAlerts.Count() > 0)
                {
                    <div class="row">
                        <div class="col text-danger">
                            @foreach (var a in p.AdHocAlerts)
                            {
                                @a<br />
                            }
                        </div>
                    </div>
                }
            }
        }

        @if (previousTrainLength != 0 && previousTrainLength != service.TrainLength)
        {
            previousTrainLength = service.TrainLength;
            <hr />
        }

            <div class="row align-items-center">
                <div class="col-sm-1 d-none d-sm-inline text-right" style="top:-18px;">
                    @if (!bDisplayedTrain)
                    {
                        bDisplayedTrain = true;
                        <i class="fas fa-train"></i>
                    }
                </div>
                <div class="col-4 font-weight-bold">@here</div>
                <div class="col-2 font-weight-bold">
                    @if (service.ScheduledTimeArrival != null)
                    {
                        <div class="d-block">a. @service.ScheduledTimeArrival</div>
                    }
                    @if (service.ScheduledTimeDeparture != null) {
                        <div class="d-block">d. @service.ScheduledTimeDeparture</div>
                    }
                </div>
                <div class="col-2 font-weight-bold">
                    <div class="font-italic">@service.EstimatedTimeArrival</div>
                    <div class="font-italic">@service.EstimatedTimeDeparture</div>
                </div>
                <div class="col-1 font-weight-bold">
                    @service.EstimatedTimeArrivalDelay
                    <br />
                    @service.EstimatedTimeDepartureDelay
                </div>
                <div class="col-1 font-weight-bold">@service.TrainLength</div>
            </div>

        @foreach (var c in service.SubsequentCallingPoints)
        {
            @foreach (var p in c.CallingPoints)
            {
                if (previousTrainLength != 0 && previousTrainLength != p.TrainLength)
                {
                    <hr />
                }

                previousTrainLength = p.TrainLength;

                @if (p.Location.Equals(there))
                {
                    <div class="row align-items-center">
                        <div class="col-4 offset-sm-1 font-weight-bold">@p.Location</div>
                        <div class="col-2 font-weight-bold">@p.ScheduledTime</div>
                        <div class="col-2 font-weight-bold font-italic">@p.EstimatedTime</div>
                        <div class="col-1 font-weight-bold">@p.EstimatedTimeDelay</div>
                        <div class="col-1 font-weight-bold">@p.TrainLength</div>
                    </div>
                }
                else
                {
                    <div class="row align-items-center">
                        <div class="col-4 offset-sm-1">@p.Location</div>
                        <div class="col-2">@p.ScheduledTime</div>
                        <div class="col-2 font-italic">@p.EstimatedTime</div>
                        <div class="col-1">@p.EstimatedTimeDelay</div>
                        <div class="col-1">@p.TrainLength</div>
                    </div>
                }
                @if (p.AdHocAlerts.Count() > 0)
                {
                    <div class="row">
                        <div class="col text-danger">
                            @foreach (var a in p.AdHocAlerts)
                            {
                                @a<br />
                            }
                        </div>
                    </div>
                }
            }
        }

    </div>
}
