@model JoF.Rail.Core.Models.LiveDepartureBoard.Result.ServiceItemModel

@{
    var service = Model;

    <div class="border-top border-bottom mb-4 pt-2">
    <div class="row pb-3">
        <div class="offset-1 col-4">
            @foreach (var o in service.Origins)
            {
                <div>@o.Location (@o.Crs) <small class="d-block">@o.Via</small></div>
            }
        </div>
        <div class="col-4">
            @foreach (var d in service.Destinations)
            {
                <div>@d.Location (@d.Crs) <small class="d-block">@d.Via</small></div>
            }
        </div>
        <div class="offset-1 col-10 text-right">
            Operated by @service.Operator (@service.ServiceType)
        </div>
    </div>

    @if (service.IsDetachedHere)
    {
        <div class="row"><div class="col">Detaches here</div></div>
    }

    @if (service.PreviousCallingPoints.Count() > 0 || service.SubsequentCallingPoints.Count() > 0)
    {
        <div class="row mb-3">
            <partial name="_CallingPoints" model="service" view-data="ViewData" />
        </div>
    }
    </div>
}
