@model StationBoardViewModel
@using JoF.Rail.Core.Extensions
@{
    ViewBag.Title = "Live Departures";
    ViewBag.BodyClass = "bg-departure-board text-departure-board";
}

@{
    var cols = 8;
    var orderedServices = Model.Services.OrderBy(s => (s.ScheduledTimeDeparture ?? s.ScheduledTimeArrival));

    <div class="container">
        <div class="row align-content-center">
            <div class="col-4">
                <h2>Departures</h2>
            </div>
            <div class="col-8 text-right">
                @{
                    var parms = new Dictionary<string, string>
                                    {
                                        { "crs", Model.Crs },
                                        { "filterCrs", Model.FilterCrs },
                                    };
                }
                <a class="btn btn-primary d-none d-sm-inline" asp-action="Arrivals" asp-all-route-data="parms">Arrivals</a>
                <a class="btn btn-primary d-sm-none" asp-action="Arrivals" asp-all-route-data="parms">Arrs</a>
                @if (Model.FilterCrs != null)
                {
                    <a class="btn btn-primary d-none d-sm-inline" asp-action="Fastest" asp-all-route-data="parms">Fastest</a>
                    <a class="btn btn-primary d-sm-none" asp-action="Fastest" asp-all-route-data="parms">Fast</a>
                }
                <a class="btn btn-primary d-none d-sm-inline" asp-action="Index">Change Station</a>
                <a class="btn btn-primary d-sm-none" asp-action="Index"><i class="fas fa-map-marker-alt"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    from @Model.Location
                    @if (Model.FilterLocation != null)
                    {
                        <span>via @Model.FilterLocation</span>
                    }
                </h3>
            </div>
        </div>
    
        <div class="bg-danger text-white">
            <div class="row px-3">
                @foreach (var message in Model.Messages)
                {
                    <div class="col-12 py-2">@Html.Raw(message)</div>
                }
            </div>
        </div>

        <div id="accordion" class="pt-3">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th class="text-center">
                            <span class="d-none d-sm-block">Departs</span>
                            <span class="d-block d-sm-none">Dep</span>
                        </th>
                        <th>
                            <span class="d-none d-sm-block">Destination</span>
                            <span class="d-block d-sm-none">Dest</span>
                        </th>
                        <th class="text-center">
                            <span class="d-none d-sm-block">Expected</span>
                            <span class="d-block d-sm-none">Exp</span>
                        </th>
                        @if (Model.FilterCrs != "")
                        {
                            cols -= 2;
                            <th class="text-center">
                                <span class="d-none d-sm-block">Arrives</span>
                                <span class="d-block d-sm-none">Arr</span>
                            </th>
                            <th class="text-center">
                                <span class="d-none d-sm-block">Duration</span>
                                <span class="d-block d-sm-none"><i class="fas fa-hourglass-half"></i></span>
                            </th>
                        }
                        <th class="text-center">
                            <span class="d-none d-sm-block">Plat</span>
                            <span class="d-block d-sm-none">P</span>
                        </th>
                        <th class="text-center">
                            <span class="d-none d-sm-block">Coaches</span>
                            <span class="d-block d-sm-none">#</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.Services)
                    {
                        var arrivalTime = string.Empty;
                        var arrivalDelay = string.Empty;
                        var duration = string.Empty;

                        if (Model.FilterCrs != string.Empty)
                        {
                            @* find destination station details *@
                        var destination = service.SubsequentCallingPoints.SelectMany(p => p.CallingPoints).FirstOrDefault(x => x.Crs == Model.FilterCrs);

                        if (destination != null)
                        {
                            arrivalTime = destination.EstimatedTime == "On time" ? destination.ScheduledTime : destination.EstimatedTime;
                            arrivalDelay = destination.EstimatedTimeDelay != "-" ? destination.EstimatedTimeDelay : string.Empty;
                            duration = arrivalTime.ToTimeDuration(service.EstimatedTimeDeparture == "On time" ? service.ScheduledTimeDeparture : service.EstimatedTimeDeparture);
                        }
                    }

                    <tr role="button" data-toggle="collapse" data-target="#@service.Id" aria-expanded="false" aria-controls="#@service.Id">
                        <td class="text-center">@service.ScheduledTimeDeparture</td>
                        <td>
                            @foreach (var dest in service.Destinations)
                            {
                                <span class="d-block text-truncate">@dest.Location</span>
                                @if (dest.Via != null)
                                {
                                    <span class="d-block small indent">@dest.Via</span>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <span>@service.EstimatedTimeDeparture</span>
                            @if (service.EstimatedTimeDepartureDelay != "-")
                            {
                                <span class="text-danger small">&nbsp;(@service.EstimatedTimeDepartureDelay)</span>
                            }
                        </td>
                        @if (Model.FilterCrs != "")
                        {
                            <td class="text-center">
                                <span>@arrivalTime</span>
                                @if (arrivalDelay != string.Empty)
                                {
                                    <span class="text-danger small">&nbsp;(@arrivalDelay)</span>
                                }
                            </td>
                            <td class="text-center">
                                <span>
                                    @duration 
                                    @if (duration != string.Empty)
                                    {
                                        <span class="d-none d-sm-inline"> mins</span>
                                    }
                                </span>
                            </td>
                        }
                        <td class="text-center"><span>@service.Platform</span></td>
                        <td class="text-center">
                            @if (service.TrainLength > 0)
                            {<span>@service.TrainLength</span>}
                        </td>
                        <td class="text-center d-none d-sm-block">
                            <span data-toggle="collapse" data-target="#@service.Id" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </td>
                    </tr>
                        @if (service.DelayReason != null
                           || service.CancellationReason != null
                           || service.IsFilterLocationCancelled)
                        {
                            <tr>
                                <td colspan="@cols" class="text-danger">
                                    @if (service.DelayReason != null && service.CancellationReason == null)
                                    {
                                        <div>@service.DelayReason</div>
                                    }
                                    @if (service.CancellationReason != null)
                                    {
                                        <div>@service.CancellationReason</div>
                                    }
                                    @if (service.IsFilterLocationCancelled)
                                    {
                                        <div>No longer stopping at destination</div>
                                    }
                                </td>
                            </tr>
                        }

                        <tr>
                            <td colspan="@cols" class="hiddenRow">
                                <div id="@service.Id" class="collapse" aria-labelledby="@service.Id" data-parent="#accordion">
                                    @{
                                        ViewData["Here"] = Model.Location;
                                        ViewData["There"] = Model.FilterLocation;
                                    }
                                    <partial name="_TrainServiceDetails" model="service" , view-data="ViewData" />
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="@cols" class="small text-right">
                            <span class="pt-3">@Model.GeneratedAt</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <small class="col-12 d-sm-none pb-3">
                <span class="d-block"><i class="fas fa-hourglass-half"></i> - Journey duration, minutes</span>
                <span class="d-block"><i class="fas fa-clock"></i> - Delay, minutes</span>
                <span class="d-block">P - Platform number</span>
                <span class="d-block"># - Number of coaches</span>
            </small>
        </div>
    </div>
}

@section Styles {
    <style type="text/css">
        tr[aria-expanded="true"] i.fas {
            transform: rotate(180deg);
            transition: all linear 0.25s;
        }
        tr[aria-expanded="false"] i.fas {
            transition: all linear 0.25s;
        }
        .hiddenRow {
            padding: 0 !important;
        }
    </style>
}

@section Scripts {
<script>
    (function () {
        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });
    })();
</script>
}